<!-- Navbar Component -->
<nav class="app-navbar" role="navigation" aria-label="Top Navigation">
    <div class="navbar-container">
        <!-- Left: Organization Name -->
        <div class="navbar-brand">
            <img src="assets/images/logos/adain-fintell-suite.png" alt="Adani Fintell Suite" class="brand-logo">
        </div>

        <!-- Right Section: Help & User Profile -->
        <div class="navbar-right">
            <!-- Help Icon -->
            <div class="navbar-help">
                <button class="help-icon-btn" data-action="toggle-help-menu" aria-haspopup="true" aria-expanded="false" aria-label="Help">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="24" height="24">
                        <path d="M11 18h2v-2h-2v2zm1-16C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm0-14c-2.21 0-4 1.79-4 4h2c0-1.1.9-2 2-2s2 .9 2 2c0 2-3 1.75-3 5h2c0-2.25 3-2.5 3-5 0-2.21-1.79-4-4-4z"/>
                    </svg>
                </button>

                <!-- Help Dropdown -->
                <div class="help-dropdown" data-help-dropdown="hidden">
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#keyboard-shortcuts" class="dropdown-item" data-action="view-shortcuts">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="20" height="20">
                                    <path d="M20 5H4c-1.1 0-1.99.9-1.99 2L2 17c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm-9 3h2v2h-2V8zm0 3h2v2h-2v-2zM8 8h2v2H8V8zm0 3h2v2H8v-2zm-1 2H5v-2h2v2zm0-3H5V8h2v2zm9 7H8v-2h8v2zm0-4h-2v-2h2v2zm0-3h-2V8h2v2zm3 3h-2v-2h2v2zm0-3h-2V8h2v2z"/>
                                </svg>
                                <span>Keyboard Shortcuts</span>
                            </a>
                        </li>
                        <li>
                            <a href="#documentation" class="dropdown-item" data-action="view-docs">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="20" height="20">
                                    <path d="M14 2H6c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm2 16H8v-2h8v2zm0-4H8v-2h8v2zm-3-5V3.5L18.5 9H13z"/>
                                </svg>
                                <span>Documentation</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- User Profile -->
            <div class="navbar-user">
            <button class="user-profile-btn" data-action="toggle-profile-menu" aria-haspopup="true" aria-expanded="false">
                <div class="user-info">
                    <span class="user-name" data-user-name>Devvrat Hans</span>
                    <span class="user-email" data-user-email>test@adani.com</span>
                </div>
                <svg class="dropdown-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="20" height="20">
                    <path d="M7 10l5 5 5-5z"/>
                </svg>
            </button>

            <!-- User Profile Dropdown -->
            <div class="profile-dropdown" data-profile-dropdown="hidden">
                <div class="dropdown-header">
                    <div class="dropdown-user-info">
                        <div class="dropdown-user-details">
                            <p class="dropdown-user-name" data-dropdown-user-name>Devvrat Hans</p>
                            <p class="dropdown-user-email" data-dropdown-user-email>test@adani.com</p>
                        </div>
                    </div>
                </div>
                <div class="dropdown-divider"></div>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#profile" class="dropdown-item" data-action="view-profile">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="20" height="20">
                                <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/>
                            </svg>
                            <span>My Profile</span>
                        </a>
                    </li>
                    <li>
                        <button class="dropdown-item logout-btn" data-action="signout">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="20" height="20">
                                <path d="M17 7l-1.41 1.41L18.17 11H8v2h10.17l-2.58 2.58L17 17l5-5zM4 5h8V3H4c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h8v-2H4V5z"/>
                            </svg>
                            <span>Sign Out</span>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</nav>
