<!-- Sidebar Navigation Template -->
<aside class="app-sidebar" data-template="sidebar">
    <nav class="app-sidebar__nav">
        <!-- Main Section -->
        <div class="app-sidebar__section">
            <h3 class="app-sidebar__section-title">Main</h3>
            <a href="index.html" class="app-sidebar__link" data-page="home">
                <span>Home</span>
            </a>
        </div>

        <!-- Tools Section -->
        <div class="app-sidebar__section">
            <h3 class="app-sidebar__section-title">Tools</h3>
            <a href="finguard.html" class="app-sidebar__link" data-page="finguard">
                <span>FinGuard</span>
            </a>
            <a href="sheetsense.html" class="app-sidebar__link" data-page="sheetsense">
                <span>SheetSense</span>
            </a>
            <a href="analytics.html" class="app-sidebar__link" data-page="analytics">
                <span>Analytics</span>
            </a>
        </div>


    </nav>
</aside>